.Nav{
    width: 100%;
    height: 60px;
    overflow-x: auto;
}
.navList{
    width: 1320px;
    height: 20px;
    overflow: hidden;
}
.navList li{
    width: 80px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.navList li:last-child{
    padding-right:40px;
}